<form action="/course/add" method="post">
<p>
    <label>Course Name</label><br>
    <input value="" name="courseName"><br><br>
    <label>Course Duration</label><br>
    <input value="" name="courseDuration"><br><br>
    <label>Course Fees</label><br>
    <input value="" name="courseFee"><br><br>
    <button type="submit">Add-course</button>
</p>
</form>