<form action="/course/add" method="post">
<p>
    <label>Name</label><br>
    <input value="" name="Name"><br><br>
    <label>Email</label><br>
    <input value="" name="Email"><br><br>
    <label>Phone number</label><br>
    <input value="" name="Phonenumber"><br><br>
    <button type="submit">SAVE</button>
</p>
</form>